html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}



/* HEADER........
.............SECTION */

.nav{
    background: white;
    width: 100%;
    height: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar-content{
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo-section{
    cursor: pointer;
    width: fit-content;
    display: flex;
}

.logo{
    width: 65px;
    height: 70px;
    margin-right: 15px;
}

.logo-text{
    display: flex;
    flex-direction: column;
}

.logo-text strong{
    margin-block: auto;
    color: #5d52ba;
    font-size: 32px;
    font-weight: 900;
    margin: 0;
    margin-top: 15px;
}

.logo-text small{
    color: #f65129;
    font-size: 12px;
    font-weight: 700;
    /* float: left;*/

}

.menu-section{
    width: 75%;
    display: flex;
}

.nav-ul{
    padding: 0;
    display: flex;
    flex:auto;
    justify-content: space-between;
}

.nav-li{
    padding: 0px;
    margin-top: 10px;
    list-style: none;
}

.nav-links{
    color: #717275;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: medium;
    padding: 20px;
    transition: 0.3s;
}

.nav-links:hover{
    color: #f65129;
}

.active{
    color: #f65129;
}

.pages{
    padding-right: 5px;
}

.drop-down-icon{
    color: #717275;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.drop-down-icon:hover{
    color: #f65129;
}

.drop-down{
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 9rem;
    background: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border: 0;
    padding: 0;
    margin-top: 20px;
    color: #212529;
    text-align: left;
    list-style: none;
    font-size: 16px;
    border-radius: 4px;
}


.drop-down-li{
    padding: 15px;
    border-bottom: 1px solid #e9eaeb;
    border-radius: 4px;
}

.drop-down-items{
    color: #717275;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: 0.5s;
}

.drop-down-items:hover{
    color: #f65129;
}

.page-drop-down:hover .drop-down{
    display:block;
}

.register-link{
    margin-left: 200px;
    padding: 0px;
}

.login-button{
    background-color: #f65129;
    color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    margin-left: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.4s;
}

.login-button:hover{
    background-color: #0d6efd;
    color: white;
}

/* HEADER........
..............END*/

/* SECTION-1........
.............START */

.main-image-section{
    background: url('images/site-header/close-up-young-business-team-working.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 150px;
    position: relative;
}

.about-section-1-overlay{
    background-color: #5d52ba;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-1{
    margin: 0 auto;
}

.about-section-1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-gotto{
    color: white;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: normal;
    position: absolute;
    top: -100px;
    margin-top: 0;
    margin-bottom: 10px;
}

.home-about-div{
    background-color: white;
    position: absolute;
    top: -35px;
    border-radius: 100px;
}

.home-about{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 7px 16px 3px 16px;
}

.home{
    list-style: none;
    color: #5d52ba;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.5s;
}

.home:hover{
    color: #f65129;
}

.about{
    color: #6c757d;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* SECTION-1..........
.................END */

/* SECTION-2..............
................START */


.map-location-section{
    padding-top: 100px;
    padding-bottom: 40px;
}

.container-2{
    margin-right: 100px;
    margin-left: 100px;
}

.section-parent-div{
    display: flex;
    justify-content: space-between;
}

.left-part-google-map{
    width: 50%;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 0;
}

.google-map {
    display: block;
    border-radius: 30px;
    filter: grayscale(100%);
    height: 470px;
}

.right-part-location-details{
    width: 42%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.more-info{
    display: flex;
    align-items: center;
    padding: 30px 30px;
    border-radius: 100px;
    transition: 0.5s;
}

.more-info-margin-bottom{
    margin-bottom: 16px;
}

.more-info-bg-color{
    background-color: #f0f8ff;
}

.icons{
    margin-right: 20px;
    font-size: 48px !important;
    color: purple;
}

.more-info-details{
    color: #717275;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}

.hover-info-details:hover{
    color: #f65129;
    cursor: pointer;
}

.info-name{
    color: #0dcaf0;
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: normal;
    margin-bottom: 3px;
}

/* SECTION-2............
................END..... */

/* SECTION-3............
..............START.... */

.form-section{
    padding-bottom: 100px;
}

.container-3{
    margin-left: 300px;
    margin-right: 300px;
}

.form{
    margin-top: 20px;
}

.form-section-heading{
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
    text-align: center;
}

.form-parent-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.label{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.input{
    background-color: #f0f8ff;
    margin-bottom: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-clip: padding-box;
    border-radius: 30px;
    border: 2px solid transparent;
    outline: none;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:hover{
    background-color: white;
    border: 2px solid #5d52ba;
}

.text-area{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-btn{
    margin: 0 auto;
}

.send-message{
    padding: 15px 50px;
    line-height: 1.5;
    background-color: #5d52ba;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'League Spartan', sans-serif;
    border: none;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
}

.send-message:hover{
    background-color: #0dcaf0;
    color: white;
}

/* SECTION-3............
..............END.... */

/* SECTION-4..........
..............START */

.main-content-section-8{
    background: url('images/millennial-group-young-businesspeople.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    padding-top: 150px;
    padding-bottom: 75px;
} 

.bg-orange{
    opacity: 0.8;
    background: #f65129;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-8{
    margin: 0 70px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-8-left-section{
    width: 50%;
}

.over-10k-opening-jobs{
    color: white;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 10px;
    width: fit-content;
}

.over-10k-opening-jobs-paragraph{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.parent-section-right-section{
    display: flex;
    flex: auto;
    width: 50%;
    height: fit-content;
    align-items: center;
}

.create-an-account{
    font-weight: 400;
    padding: 15px 20px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.create-an-account:hover{
    background-color: white;
    color: #f65129;
}

.post-a-job{
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-left: 24px;
    margin-top: 24px;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.post-a-job::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: white;
    transition: width 0.5s;
}

.post-a-job:hover::after{
   width: 100%;
}

/* SECTION-4..........
..............END */

/* ........FOOTER.......
...START............... */

.footer{
    padding-top: 100px;
    padding-bottom: 0;
}

.container-9{
    margin: 0 70px;
    display: flex;
}

.footer-section{
    width: 17%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-section-width{
    width: 33% !important;
}

.footer-section-paragraph{
    color: #717275;
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: fit-content;
}

.footer-section-paragraph:hover{
    color: #f65129;
}

.footer-section-heading{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.footer-email-section{
    margin-top: 15px;
    padding: 30px;
    padding-bottom: 10px;
    background-color: #f0f8ff;
    border-radius: 15px;
    position: relative;
}

.footer-email-section-input{
    margin: 20px 0;
    padding: 20px 70px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
}

.input-male-icon{
    width: 15px;
    height: 16px;
    position: absolute;
    bottom: 52px;
    left: 60px;
}

.send-button{
    width: 45px;
    position: absolute;
    right: 32px;
    bottom: 38px;
}

.footer-nav{
    background: #5d52ba;
    padding: 20px 0;
    margin-top: 100px;
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.footer-nav p{
    margin: 0;
}

.container-10{
    margin: 0 70px;
}

.footer-nav-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.footer-nav-left-section{
    display: flex;
    align-items: center;
    width: 30%;

}

.Copyright{
    margin-right: 25px;
}

.privacy-terms{
    display: flex;
    width: 115px;
    justify-content: space-between;
    cursor: pointer;
}

.footer-nav-mid-section{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    margin-left: 25px;
}

.footer-icon{
    background: #7f73eb;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.social-media-icon{
    color: white;
    font-size: 18px !important;
}

.footer-icon:hover{
    background: #0dcaf0;
    color: white;
    transform: scale(1.15);
}

.footer-nav-right-section{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.Tooplate{
    margin-left: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.Tooplate:hover{
    color: red;
}

.upper-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 60px;
    background: #0dcaf0;
    position: absolute;
    top: -20px;
    right: -70px;
    cursor: pointer;
    transition: 0.5s;
}

.upper-arrow:hover{
    background-color: #f65129;
}

.arrow{
    font-size: 40px;
    font-weight: 700;
    color: white;
}